.projecttodoscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.notodosdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}